<!-- 
    Consulta ampliada Tienda Tamara
    Autora: Tamara Carranza
    Última actualización: Noviembre 2025
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}"></head>
<body>
<header th:replace="~{layout/plantilla :: header}"></header>
<section th:replace="~{consulta/fragmentos :: filtros}"></section>
<section th:replace="~{consulta/fragmentos :: tarjetas}"></section>
<footer th:replace="~{layout/plantilla :: footer}"></footer>
</body>
</html>

